{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="descr" content="{% block descr %}Python-django{% endblock descr %}">
    <meta name="keywords" content="{% block keywords %}Python-django{% endblock keywords %}">

    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <title>{% block title %}Python-django{% endblock title %}</title>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>
